#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

//button
.button {
  display: inline-block;
  padding: 4px 6px;
  font-size: 1.4rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #3e8e41;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button1 {
  background-color: #4bbeff;
}

.button2 {
  background-color: #e91e63;
}

.button1:hover,
.button1:active {
  background-color: #008cba;
}

.button2:hover,
.button2:active {
  background-color: #ce1a57;
}

.wrapper-user-manager {
  padding-bottom: 5rem;
  max-height: 100vh;
  overflow: auto;
}
