.bg-img.bg-img-outstandingDoctor {
  width: 120px !important;
  height: 120px !important;
  background: url("../../../../assets/outstandingDoctor/doctor.jpg");
  border-radius: 50%;
}

.section-outstandingDoctor {
  background: #f5f5f5;
  margin-top: 20px;
}

.outstandingDoctor-customize {
  border: 1px solid grey;
  background-color: #fff;
  padding: 12px 100px !important;
  width: 300px !important;
  height: 230px !important;
}

.outstandingDoctor-name {
  text-align: center;
}
